<!-- include libraries(jQuery, bootstrap, fontawesome) -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" />

<!-- include summernote css/js-->
<link href="css/summernote.css" rel="stylesheet">
<script src="js/summernote.min.js"></script>

<button type="submit" class="btn btn-success" id="blogSubmit">Submit</button>
<button type="submit" class="btn btn-success" id="blogCancel">Cancel</button>
<div class="row">
	<div class="col-sm-9 blog-main">
		<h4>Title</h4>
		<input type="text" class="form-control">
		<h4>Content</h4>	
		<div id="summernote">Enter content here...</div>
	</div><!-- /.blog-main -->

	<div class="col-sm-3 blog-sidebar">
		<div class="sidebar-module">
			<h4>Blogs recent 7</h4>
			<ol class="list-unstyled">
			  <li><a href="#">World of Warcraft</a></li>
			  <li><a href="#">Diablo</a></li>
			  <li><a href="#">Hearthstone</a></li>
			  <li><a href="#">Starcraft</a></li>
			  <li><a href="#">Heroes of the Storm</a></li>
			  <li><a href="#">Battlefield</a></li>
			  <li><a href="#">Call of Duty</a></li>
			  <li><a href="#">Upcoming Games</a></li>
			</ol>
		</div>
	</div><!-- /.blog-sidebar -->
</div><!-- /.row -->

<script>
	$(document).ready(function(){
	  $('#summernote').summernote();

	  $('.note-editable').attr("style", "height: 300px;");
	});
</script>