<div class="row">
  <div class="col-sm-8 blog-main">
    <div class="responsive-calendar"><!-- Responsive calendar - START -->
      <div class="controls">
    	  <a class="pull-left" data-go="prev">
    		<div class="btn btn-primary"><i class="icon-chevron-left"></i><<</div>
    	  </a>
    	  <h4><span data-head-year></span> <span data-head-month></span></h4>
    	  <a class="pull-right" data-go="next">
    		<div class="btn btn-primary"><i class="icon-chevron-right"></i>>></div>
    	  </a>
      </div><br/>
      <div class="day-headers">
      	<div class="day header">Mon</div>
      	<div class="day header">Tue</div>
      	<div class="day header">Wed</div>
      	<div class="day header">Thu</div>
      	<div class="day header">Fri</div>
      	<div class="day header">Sat</div>
      	<div class="day header">Sun</div>
      </div>
      <div class="days" data-group="days">
    	<!-- the place where days will be generated -->
      </div>
    </div><!-- Responsive calendar - END -->
  </div><!-- calendar -->

  <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
    <div class="sidebar-module">
    	<h4>Upcoming Events</h4>
    	<ol class="list-unstyled">
    	  <li><a href="#">Battlefield 4 9/4</a></li>
    	  <li><a href="#">Halo 9/5</a></li>
    	  <li><a href="#">Naxramas 9/6 </a></li>
    	  <li><a href="#">Diablo 3 9/10</a></li>
    	  <li><a href="#">WoW 9/10</a></li>
    	</ol>
    </div>
   </div><!-- sidebar end -->
</div><!-- row end -->

<script>
	$( document ).ready( function() {
	  $(".responsive-calendar").responsiveCalendar({
		  time: '2014-08',
		  events: {
			"2014-08-04": {"number": 1},
			"2014-08-05": {"number": 2}, 
			"2014-08-06": {"number": 3}, 
			"2014-08-10": {}}
	  });
	});
</script>