<div>(Insert My Feed) (Insert Most Recent) <a href="ForumsAddEdit.html">New Forum Topic</a></div>
<div class="row">
  <div class="col-sm-8 blog-main">

    <div class="blog-post">
      <h2 class="blog-post-title">Forum topic1</h2>
      <p class="blog-post-meta">June 1, 2014 (Insert By:) (Insert Edit/Delete Link for mods)</p>
      <p>Most recent reply</p>
    </div><!-- /.blog-post -->

    <div class="blog-post">
      <h2 class="blog-post-title">Forum topic2</h2>
      <p class="blog-post-meta">July 23, 2014 (Insert By:) (Insert Edit/Delete Link for mods)</p>
      <p>Most recent reply</p>
    </div><!-- /.blog-post -->
  </div><!-- /.blog-main -->

  <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
    <div class="sidebar-module sidebar-module-inset">
      <h4>Search</h4>
      <input type="text" class="form-control search" placeholder="Search...">
    </div>
    <div class="sidebar-module">
      <h4>Topics</h4>
      <ol class="list-unstyled">
        <li><a href="#">World of Warcraft</a></li>
        <li><a href="#">Diablo</a></li>
        <li><a href="#">Hearthstone</a></li>
        <li><a href="#">Starcraft</a></li>
        <li><a href="#">Heroes of the Storm</a></li>
        <li><a href="#">Battlefield</a></li>
        <li><a href="#">Call of Duty</a></li>
        <li><a href="#">Upcoming Games</a></li>
      </ol>
    </div>
    <div class="sidebar-module">
      <h4>Online</h4>
      <ol class="list-unstyled">
        <li>Naomarius</li>
        <li>Hexron</li>
        <li>Shibbj</li>
      </ol>
    </div>
  </div><!-- /.blog-sidebar -->
</div><!-- /.row -->