
<button type="submit" class="btn btn-success" id="forumSubmit">Submit</button>
<button type="submit" class="btn btn-success" id="forumCancel">Cancel</button>
<div class="row">
  <div class="col-sm-8 blog-main">
<p>Insert topic text editor</p>
      <p>Insert text editor for making a new forum post simple text nothing to fancy with hyperlinks and embedding)</p>
  </div><!-- /.blog-main -->

  <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
    <div class="sidebar-module">
      <h4>Topics recent 7</h4>
      <ol class="list-unstyled">
        <li><a href="#">World of Warcraft</a></li>
        <li><a href="#">Diablo</a></li>
        <li><a href="#">Hearthstone</a></li>
        <li><a href="#">Starcraft</a></li>
        <li><a href="#">Heroes of the Storm</a></li>
        <li><a href="#">Battlefield</a></li>
        <li><a href="#">Call of Duty</a></li>
        <li><a href="#">Upcoming Games</a></li>
      </ol>
    </div>
  </div><!-- /.blog-sidebar -->
</div><!-- /.row -->

