<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#/">Home</a>
    <a class="navbar-brand" href="#/blog">Blog</a>
    <a class="navbar-brand" href="#/forums">Forums</a>
    <a class="navbar-brand" href="#/stream">Stream</a>
    <a class="navbar-brand" href="#/events">Events</a>
    <a class="navbar-brand" href="#/about">About</a>
  </div>
  <div class="navbar-collapse collapse">
    <div class="navbar-right" role="form">
       <a class="navbar-brand" href="LoginRegsiter.html">Sign In</a>
    </div>
  </div>
</div>

<br/>
<br/>
<br/>
<div class="row">
  <div class="col-sm-12">

    <div id="mycarousel" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#mycarousel" data-slide-to="0" class="active"></li>
        <li data-target="#mycarousel" data-slide-to="1" class=""></li>
        <li data-target="#mycarousel" data-slide-to="2" class=""></li>
        <li data-target="#mycarousel" data-slide-to="3" class=""></li>
      </ol>

      <div class="carousel-inner">
        <div class="item active">
          <img src="img/AHC770UXWJ7Z1376505580138.jpg" alt="1" width="100%">
        </div>
        <div class="item">
          <img src="img/wpid-wp-1405619440824.jpeg" alt="2" width="100%">   
        </div>
        <div class="item">
          <img src="img/WoD.jpg" alt="3" width="100%">
        </div>
        <div class="item">
          <img src="img/6DIHKAXFU4QK1376700753421.jpg" alt="4" width="100%">
        </div>
      </div>

      <!-- Left and right controls 
      <a class="left carousel-control" href="#mycarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#mycarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>-->
    </div>
    
  </div>
</div>